<body>
  <!-- sidebar and nav -->
  <div class="sidebar">

    <ul class="nav-links">
      <li>
        <a routerLink="home" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li *ngIf="userdata.role==='SuperAdmin'">
        <a routerLink="/departments">
          <i class='bx bx-box'></i>
          <span class="links_name">Departments</span>
        </a>
      </li>
      <li *ngIf="userdata.role==='SuperAdmin'">
        <a routerLink="/quaters">
          <i class='bx bx-list-ul'></i>
          <span class="links_name">Quaters</span>
        </a>
      </li>
      <li *ngIf="userdata.role==='SuperAdmin'">
        <a routerLink="/document">
          <i class='bx bx-pie-chart-alt-2'></i>
          <span class="links_name">Documents Request</span>
        </a>
      </li>
      <!-- <li>
          <a href="#">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Stock</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Total order</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="links_name">Team</span>
          </a>
        </li>-->
      <li *ngIf="userdata.role==='SuperAdmin'||userdata.role==='Admin'">
        <a routerLink="/agents">
          <i class='bx bx-run'></i>
          <span class="links_name">Agents</span>
        </a>
      </li>
      <li *ngIf="userdata.role==='SuperAdmin'">
        <a routerLink="/director">
          <i class='bx bx-group'></i>
          <span class="links_name">Directors</span>
        </a>
      </li>
      <li *ngIf="userdata.role==='SuperAdmin'">
        <a routerLink="/request">
          <i class='bx bx-paste'></i>
          <span class="links_name">Request</span>
        </a>
      </li>
      <li *ngIf="userdata.role==='Agents'">
        <a routerLink="/myrequest">
          <i class='bx bx-paste'></i>
          <span class="links_name">MyRequest</span>
        </a>
      </li>
      <li *ngIf="userdata.role==='Admin'">
        <a routerLink="/adminRequest">
          <i class='bx bx-paste'></i>
          <span class="links_name">DepartmentRequest</span>
        </a>
      </li>
      <li>
        <a routerLink="/profile">
          <i class='bx bx-cog'></i>
          <span class="links_name">Profile</span>
        </a>
      </li>
      <li class="log_out">
        <a (click)="logOut()">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">

        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search'></i>
      </div>
      <div class="profile-details">
        <span class="admin_name">{{userdata.name}}</span>
        <i class='bx bx-chevron-down'></i>
      </div>
    </nav>
    <!-- sidebar and nav ends here -->
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Request</div>
            <div class="number">40,876</div>
            <div class="indicator">
              <i class='bx bx-paste'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-paste cart '></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Users</div>
            <div class="number">38,876</div>
            <div class="indicator">
              <i class='bx bx-group'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bxs-group cart two'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Agent</div>
            <div class="number">876</div>
            <div class="indicator">
              <i class='bx bx-user'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-user cart three'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Departent</div>
            <div class="number">11</div>
            <div class="indicator">
              <i class='bx bx-building-house'></i>
              <span class="text">Down From Today</span>
            </div>
          </div>
          <i class='bx bxs-building-house cart four'></i>
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Recent Request</div>
          <div class="sales-details">
            <ul class="details">
              <li class="topic">Date</li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
              <li><a href="#">02 Jan 2021</a></li>
            </ul>
            <ul class="details">
              <li class="topic">Customer</li>
              <li><a href="#">Alex Doe</a></li>
              <li><a href="#">David Mart</a></li>
              <li><a href="#">Roe Parter</a></li>
              <li><a href="#">Diana Penty</a></li>
              <li><a href="#">Martin Paw</a></li>
              <li><a href="#">Doe Alex</a></li>
              <li><a href="#">Aiana Lexa</a></li>
              <li><a href="#">Rexel Mags</a></li>
              <li><a href="#">Tiana Loths</a></li>
            </ul>
            <ul class="details">
              <li class="topic">Status</li>
              <li><a href="#">Delivered</a></li>
              <li><a href="#">Pending</a></li>
              <li><a href="#">Returned</a></li>
              <li><a href="#">Delivered</a></li>
              <li><a href="#">Pending</a></li>
              <li><a href="#">Returned</a></li>
              <li><a href="#">Delivered</a></li>
              <li><a href="#">Pending</a></li>
              <li><a href="#">Delivered</a></li>
            </ul>
            <ul class="details">
              <li class="topic">Department</li>
              <li><a href="#">$204.98</a></li>
              <li><a href="#">$24.55</a></li>
              <li><a href="#">$25.88</a></li>
              <li><a href="#">$170.66</a></li>
              <li><a href="#">$56.56</a></li>
              <li><a href="#">$44.95</a></li>
              <li><a href="#">$67.33</a></li>
              <li><a href="#">$23.53</a></li>
              <li><a href="#">$46.52</a></li>
            </ul>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Recent customer</div>
          <ul class="top-sales-details">
            <li>
              <a href="#">
                <span class="product">Vuitton Sunglasses</span>
              </a>
              <span class="price">$1107</span>
            </li>
            <li>
              <a href="#">

                <span class="product">Hourglass Jeans </span>
              </a>
              <span class="price">$1567</span>
            </li>
            <li>
              <a href="#">

                <span class="product">Hermes Silk Scarves.</span>
              </a>
              <span class="price">$2312</span>
            </li>
            <li>
              <a href="#">

                <span class="product">Succi Ladies Bag</span>
              </a>
              <span class="price">$1456</span>
            </li>
            <li>
              <a href="#">

                <span class="product">Gucci Womens's Bags</span>
              </a>
              <span class="price">$2345</span>
            <li>
              <a href="#">

                <span class="product">Addidas Running Shoe</span>
              </a>
              <span class="price">$2345</span>
            </li>
            <li>
              <a href="#">

                <span class="product">Bilack Wear's Shirt</span>
              </a>
              <span class="price">$1245</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
      sidebar.classList.toggle("active");
      if (sidebar.classList.contains("active")) {
        sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else
        sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
  </script>

</body>